/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		
	}
	
	.container {margin-top:-20px !important;color:#fff; background-color:#000;
	}
	button {width:60px; height:25px; background-color:#32A5CF; border-left:0.5px; border-color:#fff; margin-bottom:20px;}
	#time {font-size:80px; height:120px;}
	.timeDiv {height:180px; margin-top:30px;}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}